<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.devstruktor.coroutine_permission">
    
    <application>

        <provider android:authorities="${applicationId}.PermissionsInitProvider"
                  android:name="com.devstruktor.initalizer.PermissionsInitProvider"/>
        
    </application>
    
</manifest>
